html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.TaskContainer {
    width: 100%;
    height: 60vh;
    background-color: red;
    display: flex;
    margin: 0 auto;
}
.Task{
    height: 60vh;
    text-align:center;
    width: 100%;
}
.ToDo {
    background-color: yellow;
}
.Inprogress {
    background-color: blue;
}

.Done {
    background-color: green;
}

.addTaskContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content:center;
}