html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.TaskContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    margin: 0 auto;
}

.Task {
    height: 60vh;
    text-align: center;
    width: 100%;
}

.ToDo {
    background-color: #93BFCF;
    padding: 2em;
}

.Inprogress {
    background-color: #BDCDD6;
    padding: 2em;
}

.Done {
    background-color: #93BFCF;
    padding: 2em;
}





.Daily {
    height: 55.5vh;
    min-width: 25em;
    margin-left: 1em;
    padding: 2em;
    background: #e9db94;
    position: relative;
}

    .Daily:after {
        content: "";
        position: absolute;
        bottom: -2em;
        left: 0;
        right: 2em;
        border-width: 1em;
        border-style: solid;
        border-color: #e9db94;
    }

    .Daily:before {
        content: "";
        position: absolute;
        bottom: -2em;
        right: 0;
        border-width: 2em 2em 0 0;
        border-style: solid;
        border-color: #d7c981 transparent;
    }


.form-check-input:checked {
    background-color: green;
}

.addTaskContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.fc-event-title {
    white-space: normal !important;
    align-items: normal !important;
}

.fc-event-time {
    min-width: 35px;
}

caption {
    caption-side: top;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}

.list-group-item-warning {
    background-color: #FAF0BE;
}
