

@{
    ViewData["Title"] = "Index";
}

<h1>Task</h1>

<div class="TaskContainer">
    <div class="Task ToDo">
        <h2>To Do</h2>
        <ul>
            @*<li><b>@Model.Name</b> @Model.Description @Model.Date @Model.Category</li>*@
        </ul>
    </div>
    <div class="Task Inprogress"><h2>In progress</h2></div>
    <div class="Task Done"><h2>Done</h2></div>
</div>

