@model ToDoApplication.ViewModels.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    <label>Enter your email address:</label> @Html.TextBoxFor(x => x.Email)
    <button type="submit" class="btn btn-success">Send Password Reset Email</button>
}