@{
    ViewData["Title"] = "Home Page";
}

<div class="TaskContainer">
    
    <div class="Task ToDo"><h2>To Do</h2></div>
    <div class="Task Inprogress"><h2>In progress</h2></div>
    <div class="Task Done"><h2>Done</h2></div>
</div>